<section class="benefits">
    <div class="container container-benefits">
        <h2 class="benefits-header">BENEFITS OF WORKING WITH ME</h2>
        <div class="desk">
            <ul class="benefits-frame">
                <li class="benefits-frame-content">
                     <div class="icon-frame">
                        <svg class="benefits-icon" width="24" height="24" aria-hidden="true" fill: red;>
                            <use href="./img/icon.svg#icon-user-01"></use>
                        </svg>
                     </div>
                     <div class="benefits-content">
                        <h3 class="benefits-h">Expertise</h3>
                        <p class="benefits-description">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
                     </div>
    
                </li>
                <li class="benefits-frame-content">
                     <div class="icon-frame">
                        <svg class="benefits-icon" width="24" height="24" aria-hidden="true">
                            <use href="./img/icon.svg#icon-message-chat-circle"></use>
                        </svg>
                     </div>
                     <div class="benefits-content">
                        <h3 class="benefits-h">Communication</h3>
                        <p class="benefits-description">Understanding your needs and wants is my priority, and I am always open to discussions and corrections.</p>
                     </div>
    
                </li>
                <li class="benefits-frame-content">
                     <div class="icon-frame">
                        <svg class="benefits-icon" width="24" height="24" aria-hidden="true">
                            <use href="./img/icon.svg#icon-brush-01"></use>
                        </svg>
                     </div>
                     <div class="benefits-content">
                        <h3 class="benefits-h">Art</h3>
                        <p class="benefits-description">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
                     </div>
    
                </li>
                <li class="benefits-frame-content">
                     <div class="icon-frame">
                        <svg class="benefits-icon" width="24" height="24" aria-hidden="true">
                            <use href="./img/icon.svg#icon-hourglass-02"></use>
                        </svg>
                     </div>
                     <div class="benefits-content">
                        <h3 class="benefits-h">Urgent execution</h3>
                        <p class="benefits-description">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
                     </div>
                </li>
            </ul>
            <a class="button_work_together" href="#work together">Order the project</a>
        </div>


    </div>
  </section>
  
