<footer class="footer-work">
    <div class="container">
        <div class="logo-footer">
            <img class="footer-img" srcset="../img/Header/jefferson@x1.jpg x1, ../img/Header/jefferson@x2.jpg x2"
                src="../img/Header/jefferson.jpg" alt="jefferson">
            <p class="footer-text">let's <span class="work-text">work</span></p>
            <p class="footer-text">together</p>
        </div>
        <div class="footer-form">
            <form class="form-subscribe">
                <label class="form-subscribe-label" for="email-footer">
                    <input class="footer-input" type="email" name="email-footer" id="email-footer"
                        placeholder="clients@gmail.com" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" minlength="2"
                        required>
                </label>
                <p class="state_massage visibility-hidden">gfgfg</p>
                <label class="form-subscribe-label" for="footer-comments">
                    <input class="footer-comment" type="text" name="footer-comments" id="footer-comments"
                        placeholder="comments">
                </label>
                <button class="footer-button-form" type="submit">Send</button>
            </form>
        </div>
        <div class="footer-links">
            <a class="footer-link" type="email" href="lloydjefferson@gmail.com"
                target="_blank">lloydjefferson@gmail.com</a>
            <a class="footer-link" type="tel" href="+3801111111111" target="_blank">+380 11 1111 11 11</a>
        </div>
    </div>
    <!--------MODAL----------->
    <div class="model_overlay visibility-hidden">
        <div class="model">
            <button class="close-button" type="button">
                <img class="close-img" src="/image/close.png" alt="close" width="11" height="11">
            </button>
            <div class="info_item">
                <div class="text_info">
                </div>
                <div class="supporting_text">
                </div>
            </div>
        </div>
    </div>
</footer>