.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
.container-benefits {
  padding-bottom: 64px;
  background-color: #1c1d20;
}
.benefits-header {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.desk {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.icon-frame {
  display: flex;
  background-color: #ed3b44;
  border-radius: 10px;
  width: 48px;
  min-height: 48px;
  align-items: center;
  justify-content: center;
  stroke: #fafafa;
  fill: #ed3b44;
}
.benefits-frame-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
  border-radius: 20px;
  padding: 24px;
  width: 344px;
  height: 270px;
  background: #242527;
}
.benefits-frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.benefits-h {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.benefits-description {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.button_work_together {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 187px;
  height: 55px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-right: auto;
}
.button_work_together:hover,
.button_work_together:focus {
  background-color: #e0373f;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .benefits-frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container-benefits {
    display: flex;
    max-width: 1440px;
  }
  .desk {
    margin-left: auto;
    width: 680px;
  }
  .benefits-frame-content {
    width: 332px;
  }
}
